{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login PetGuard</title>
    <link rel="stylesheet" href="{% static 'petguard/styles.css' %}">
</head>
<body>
    <div class="page">
        <div class="formLogin">
            <h1>PetGuard</h1>
            <form method="POST" action="">
                {% csrf_token %}
                <label for="username">Usuário:</label>
                <input type="text" id="username" name="username" required>

                <label for="password">Senha:</label>
                <input type="password" id="password" name="password" required>

                <button type="submit" class="btn">Entrar</button>
            </form>

            {% if messages %}
                {% for message in messages %}
                    <p style="color:red">{{ message }}</p>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</body>
</html>
